/* General body styling */
body {
    background-color: aliceblue;
}

/* Styling for the logo */
#logo {
width: 50px;
height: 30px;
}

/* Flexbox container for the top section (header) */
.topcontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 600px;
    background-color:rgb(255, 0, 0);
    justify-content: center;
}

/* Flexbox container for the middle section (main content) */
.midcontainer {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 600px;
    background-color: blue;
    justify-content: center;
}

/* Flexbox container for the footer section */
.footer {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 600px;
    background-color: lightgrey;
    justify-content: center;
}